*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #2D25A0;
    height: 80px;
    width: 100%;
  }
  button.logo{
    float: right;
    background-color: #E02C6D;
    border: none;
    color: white;
    font-size: 25px;
    line-height: 40px;
    padding: 0 70px;
    margin-top: 65px;
    margin-right: 124px;
    cursor: pointer;
    transition: all 1s;
  }
  button.logo:hover {
    background-color: #6C6C6C;
  }
  nav ul{
    float: left;
    margin-top: 42px;
    margin-left: 156px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgb(138, 138, 138);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.first-title {
    position: absolute;
    top: 277px;
    color: white;
    font-size: 50px;
    margin-left: -1010px;
    width: 485px;
    height: 230px;
    transition: all 2s;
}
.first-title:hover {
    color: #6C6C6C;
}
.second-button {
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 0px 10px;
    width: 190px;
    height: 40px;
    font-size: 21px;
    /* font-size: 21px;
    line-height: 30px;
    padding: 0 70px;
    margin-top: 25px;
    margin-right: 24px; */
    cursor: pointer;
    transition: all 1s;
}
.second-button:hover {
    background-color: #6C6C6C;
}

.first-image img {
    position: relative;
    top: 153px;
    right: -110px;
    width: 556.01px;
    height: 438px;
    transition: all 2s;
}
.first-image img:hover {
    width: 400px;
    height: 300px;
}
.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* width: 483.87px;
    height: 213px; */
}
.footer-image {
    margin: 158px 0px 10px 0px;
}
.awesome-icon {
    font-size: 40px;
}
.footer-writing {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.fa-instagram {
    color: #e84393;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-twitter {
    color: #0096e6;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-youtube {
    color: #e84118;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-dribbble {
    color: #ea4c89;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.i:hover {
    background-color: white;
    border-radius: 50%;
}
.fa-sign-in-alt {
    color: white;
    margin-right: 8px;
}









  @media (max-width: 952px){
    button.logo{
    float: right;
    font-size: 20px;
    padding-left: 50px;
    margin-right: 10px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-top: 45px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -150%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0px;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  .container{
    /* background: url(bg1.jpg) no-repeat; */
    background: #2D25A0;
    height: calc(100vh - 80px);
  }
  .main-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 50px;
  }
  .gallery {
    position: relative;
    width: 330px;
    height: 474px;
    top: 70px;
    /* left: 180px; */
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 15px;
    margin: 0px 30px 27px 0px;
    
  }
  .gallery img:hover {
      width: 200px;
      height: 200px;
  }
  .gallery img {
      width: 100%;
      height: 250px;
      transition: all 1s;
  }
  .gallery h1 {
      font-size: 34px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .gallery p {
      font-size: 18px;
      text-align: justify;
      color: #6C6C6C;
  }
  .container-3 {
    display: flex;
    justify-content: center;
    margin-top: 165px;
  }
  .section-title {
    width: 466px;
    height: 309px;
    margin-top: 63px;
    margin-right: 69px;
  }
  .section-title h1 {
      font-size: 54px;
  }
  .section-title p {
      font-size: 18px;
      color: #6C6C6C;
      line-height: 26px;
      margin-top: 20px;
  }
  .third-button {
      color: white;
      background-color: #E02C6D;
      border: none;
      padding: 15px 60px;
      margin-top: 20px;
      transition: all 1s;
      cursor: pointer;
  }
  .third-button:hover{
      background-color: #6C6C6C;
  }

  .section-image img {
    width: 567px;
    height: 427px;
  }

  @media (max-width: 858px) {
      .first-section {
          display: block;
          
      }
      .first-title {
          position: relative;
          width: 278px;
          height: 138px;
          color: white;
          top: 50px;
          left: 1100px;
      }
      .first-title h1 {
          font-size: 41px;
      }
      .first-image img {
          position: relative;
          width: 329px;
          height: 259px;
          top: 220px;
          left: 75px;
      }
      .main-gallery {
          position: relative;
          left: 16px;
      }
      .container-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .section-title {
        position: relative;
        left: 40px;
        width: 329px;
        height: 299px;
        margin-top: -50px;
      }
      .section-image img {
        width: 328px;
        height: 248px;
        margin-top: 139px;
        margin-bottom: -50px;
      }
      .container-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        /* width: 483.87px;
        height: 213px; */
    }
    /* .footer-image {
        margin: 158px 0px 10px 0px;
    } */
    .footer-image img {
        width: 275px;
        margin-top: -93px;
    }
    
    .awesome-icon {
        font-size: 20px;
    }
    .footer-writing {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
      

  }