@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
}
.container {
 width: 100%;
 height: 770px;
 background-color: #2D25A0;
 ;   
}
/* navbar start */
.navbar {
    overflow: hidden;
    margin-left: 156px;
    /* margin-top: 42px; */
    position: relative;
    top: 42px;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .icon {
    display: none;
}
/* navbar end */
/* button start */
.first-button {
    float: right;
    padding: 10px 60px;
    margin-top: 10px;
    margin-right: 124px;
    background-color:#E02C6D;
    color: white;
    border: none;
    cursor: pointer;
}
.first-button:hover {
    background-color: #ddd;
    color: black;
    transition:  .8s ;
}
.fa-sign-in-alt {
    background-color: #E02C6D;
}
.second-button {
    padding: 10px 60px;
    margin-top: 27px;
    background-color: #E02C6D;
    color: white;
    border: none;
    cursor: pointer;
}
.second-button:hover {
    background-color: #ddd;
    color: black;
    transition:  .8s ;
}
.fa-arrow-right {
    color: white;
    background-color: #E02C6D;
    padding-left: 3px;
}
.fa-arrow-right:hover {
    background-color: #ddd;
}

/* button end */



/* first title start */
.first-title {
    position: absolute;
    width: 485px;
    height: 230px;
    top: 207px;
    left: 156px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: white;
}
/* first title end */

/* first banner start */
    .football-banner {
        position:absolute;
        width: 556.01px;
        height: 438px;
        left: 760.01px;
        top: 153px;
    }
/* first banner end */



/* second container start */
    .container-2 {
        margin: 70px 150px;
    }
    .main-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    .gallery {
        position: relative;
        width: 330px;
        height: 474px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        padding: 15px;
        margin-bottom: 27px;
    }
    .gallery img {
        width: 100%;
        height: 330px;
    }
    .gallery-title h1{
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .gallery-title p {
        color: rgb(109, 109, 109);
        line-height: 29px;
        font-size: 20px;
        text-align: justify;
    }

    .section-title {
        position: absolute;
        width: 466px;
        height: 309px;
        left: 182px;
        margin-top: 110px;
    }
    .section-title h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }
    .section-title p {
        color: #6C6C6C;
        line-height: 29px;
        font-size: 21px;
    }

    .third-button {
        padding: 10px 60px;
        margin-top: 27px;
        background-color: #E02C6D;
        color: white;
        border: none;
        cursor: pointer;
    }
    .third-button:hover {
        background-color: #ddd;
        color: black;
        transition:  .8s ;
    }
    .section-image img {
        width: 567px;
        height: 427px;
        margin-right: 150px;
        margin-top: 40px;
    }
    .sections {
        display: flex;
        flex-direction: row-reverse;
    }
/* second container end */
/* Footer section start */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-part {
    width: 483.87px;
    height: 213px;
    margin-top: 158px;
    margin-right: 250px;
}
.icon-part {
    margin-bottom: 20px;
    font-size: 44px;
}
.fa-instagram {
    color: #e84393;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-twitter {
    color: #0096e6;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-youtube {
    color: #e84118;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.fa-dribbble {
    color: #ea4c89;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
}
.i:hover {
    background-color: white;
}
.title-part {
    font-size: 21px;
    margin-bottom: 13px;
}

/* Footer section end */






















































/* media scren for responsive navbar start */
@media  screen and (max-width: 600px){
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: left;
        display: block;
    }


}
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}
/* meida screen for responsive navbar end */