* {
    margin: 0;
    padding: 0;
    background-color: #2D25A0;
    ;
}
.container {
    
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .icon {
    display: none;
}
.first-button {
    float: right;
}